body {
    background-color:#f2f2f2;
}
h1{
    color:black;
}

p {
    color: black;
}


.typing {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    animation: blink 0.7s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typing2 {
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    animation: blink 0.4s step-end infinite; /* faster blink */
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .nav-button {
    color: black;
    text-decoration: underline;
    padding: 0.25px 7px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: goldenrod;
    color: white;
  }
  
  .about-text {
    font-size: 20px; 
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: black;
    line-height: 1.6;
    padding: 20px;
    font-family: monospace;
  }
  


  .section-block {
    text-align: center;
    background-color: #f2f2f2;
    color: black;
  }
  
  .section-block h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: monospace;
  }
  
  .education-details {
    font-family: monospace;
    max-width: 400px;
    margin-left: 350px;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.6;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
    text-align: left;
  }
  
  